SPSTwitterClickOnce/Service References/TweetHost/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TwitterConnector" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TwitterConnector" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfListViewBindingObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListViewBindingObject" nillable="true" type="tns:ListViewBindingObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListViewBindingObject" nillable="true" type="tns:ArrayOfListViewBindingObject" />
  <xs:complexType name="ListViewBindingObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Messenger" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListViewBindingObject" nillable="true" type="tns:ListViewBindingObject" />
</xs:schema>